.real-city {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 256px;
    margin-bottom: 30px;
}

.real-city-text {
    width: 33.33%;
    background-color: #81b3d2;
    color: #fff;
    padding: 54px 60px 20px;
    box-sizing: border-box;
    height: 256px;
}

.real-city-title {
    margin: 0 64px 12px;
    font-size: 21px;
    line-height: 24px;
    text-align: center;
    font-weight: 700;
}

.real-city-desc {
    margin: 0 0 22px;
    line-height: 21px;
    text-align: center;
}

.real-city-img {
    .real-city-img-tablet {
        display: none;
    }
    .real-city-img-mobile {
        display: none;
    }
}

.advantages-items {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.advantages-item {
    width: 33.33%;
    padding: 28px 57px 0px;
    box-sizing: border-box;
}

.mobile-flex-direction-block {
    display: flex;
}

.advantages-img-wrapper {
    min-height: 80px;
    text-align: center;
}

.advantages-title {
    text-transform: uppercase;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    text-align: center;
    margin: 21px 70px 24px;
    color: #000;
}

.advantages-text {
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    line-height: 21px;
}

.advantages-numbering {
    margin: 0 0 25px;
    text-align: center;
}

.diablo-bridge {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 256px;
    margin-top: 82px;
}

.diablo-bridge-text {
    width: 33.33%;
    background-color: #81b3d2;
    color: #fff;
    padding: 54px 60px 20px;
    box-sizing: border-box;
    height: 256px;
}

.diablo-bridge-title {
    margin: 0 64px 12px;
    font-size: 21px;
    line-height: 24px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}

.diablo-bridge-desc {
    margin: 0 0 22px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}

.diablo-bridge-advantages-item {
    padding-top: 24px;
}

.diablo-bridge-advantages-title {
    line-height: 24px;
    margin-bottom: 15px;
}

.advantages-second {
    background-color: #eee;
    padding-bottom: 60px;
    position: relative;
}

.s1 {
    padding-bottom: 60px;
}