<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="container">
        <header>
            <div class="user-nav-wrapper">
                <a href="#" class="header-logo-link header-logo-link-form">
                    <picture>
                        <source srcset="../img/index/head/mobile/logotype-desktop.png" alt="" class="header-logo header-logo-mobile" width="102px" height="83px" media="(max-width: 767px)">
                        <source srcset="../img/index/head/tablet/logotype-desktop.png" alt="" class="header-logo header-logo-tablet" width="102px" height="83px" media="(max-width: 1160px)">
                        <source srcset="../img/index/head/desktop/logotype-desktop.png" alt="" class="header-logo" width="138px" height="70px">
                        <img srcset="../img/index/head/desktop/logotype-desktop.png" width="102px" height="83px" alt="My default image">
                    </picture>
                </a>
                <div class="burger-icon">
                    <svg viewBox="0 0 24 24">
                        <path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
                    </svg>
                </div>
                <nav class="main-nav">
                    <div class="nav-container">
                        <ul class="nav-items">
                            <div class="close-icon">
                                <svg viewBox="0 0 24 24">
                                    <path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
                                </svg>
                            </div>
                            <a href="actives.html" class="nav-item-link">
                                <li class="nav-item"> Главная</li>
                            </a>
                            <a href="study.html" class="nav-item-link">
                                <li class="nav-item"> ФОТО И ВИДЕО</li>
                            </a>
                        </ul>
                        <ul class="nav-items">
                            <a href="partners.html" class="nav-item-link">
                                <li class="nav-item"> Форма отзыва</li>
                            </a>
                            </a>
                            <a href="achievements.html" class="nav-item-link">
                                <li class="nav-item"> HTML academy </li>
                            </a>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <main>
            <div class="welcome-block">
                <picture class="welcome-image">
                    <source srcset="../img/index/head/mobile/intro-triangle.jpg" alt="" class="main-welcome-image main-welcome-image-mobile" width="320px" height="389px" media="(max-width: 767px)">
                    <source srcset="../img/index/head/tablet/intro-triangle.jpg" alt="" class="main-welcome-image main-welcome-image-tablet" width="768px" height="518px" media="(max-width: 1160px)">
                    <source srcset="../img/index/head/desktop/intro-triangle.jpg" alt="" class="main-welcome-image" width="1200px" height="518px">
                    <img srcset="../img/index/head/desktop/intro-triangle.jpg" alt="" class="main-welcome-image" width="1200px" height="518px">
                </picture>
                <h4 class="main-title">СЕДОНА — небольшой городок в АРИЗОНЕ, заслуживающий большего!</h4>
                <p class="main-desc">Рассмотрим 5 причин, по которым Седона круче, чем гранд каньон!</p>
            </div>
            <div class="advantages-block">
                <div class="real-city">
                    <div class="real-city-text">
                        <p class="real-city-title">НАСТОЯЩИЙ ГОРОДОК</p>
                        <p class="real-city-desc">— №1 —</p>
                        <p class="real-city-desc">СЕДОНА НЕ АТТРАКЦИОН ДЛЯ ТУРИСТОВ, ТАМ ТЕЧЕТ СВОЯ ЖИЗНЬ</p>
                    </div>
                    <picture>
                        <source srcset="../img/index/body/mobile/photo-city.jpg" class="real-city-img real-city-img-mobile" alt="" width="320px" height="260px" media="(max-width: 767px)">
                        <source srcset="../img/index/body/tablet/photo-city.jpg" class="real-city-img real-city-img-tablet" alt="" width="512px" height="256px" media="(max-width: 1160px)">
                        <source srcset=" ../img/index/body/desktop/photo-city.jpg " class="real-city-img " alt=" " width="800px " height="256px ">
                        <img srcset="../img/index/body/desktop/photo-city.jpg " class="real-city-img " alt=" " width="800px " height="256px ">
                    </picture>
                </div>
                <div class="advantages">
                    <ul class="advantages-items">
                        <li class="real-city-advantages-item advantages-item">
                            <div class="advantages-item-wrapper">
                                <div class="advantages-img-wrapper">
                                    <picture>
                                        <source srcset="../img/index/body/mobile/icon-house.png " alt=" " class="advantages-img advantages-img-mobile" width="39px" height="37px" media="(max-width: 767px)">
                                        <source srcset="../img/index/body/tablet/icon-house.png " alt=" " class="advantages-img advantages-img-tablet" width="75px" height="72px" media="(max-width: 1160px)">
                                        <source srcset="../img/index/body/desktop/icon-house.png " alt=" " class="advantages-img" width="75px" height="72px">
                                        <img srcset="../img/index/body/desktop/icon-house.png " alt=" " class="advantages-img" width="75px" height="72px">
                                    </picture>
                                </div>
                                <p class="real-city-advantages-title advantages-title">Жилье</p>
                            </div>
                            <p class="real-city-advantages-text advantages-text">Рекомендуем пожить в настоящем мотеле, все как в кино!</p>
                        </li>
                        <!-- <div class="mobile-flex-direction-block"> -->
                        <li class="real-city-advantages-item advantages-item advantages-floatable">
                            <div class="advantages-item-wrapper">
                                <div class="advantages-img-wrapper">
                                    <picture>
                                        <source srcset="../img/index/body/mobile/icon-burger.png " alt=" " class="advantages-img advantages-img-mobile " width="40px " height="35px" media="(max-width: 767px)">
                                        <source srcset="../img/index/body/tablet/icon-burger.png " alt=" " class="advantages-img advantages-img-tablet " width="77px " height="68px" media="(max-width: 1160px)">
                                        <source srcset="../img/index/body/desktop/icon-burger.png " alt=" " class="advantages-img " width="74px " height="70px">
                                        <img srcset="../img/index/body/desktop/icon-burger.png " alt=" " class="advantages-img " width="74px " height="70px">
                                    </picture>
                                </div>
                                <p class="real-city-advantages-title advantages-title">ЕДА</p>
                            </div>
                            <p class="real-city-advantages-text advantages-text">Всегда заказывайте ФИРМЕННЫЙ БУРГЕР, Вы НЕ разочаруетесь!</p>
                        </li>
                        <li class="real-city-advantages-item advantages-item">
                            <div class="advantages-item-wrapper">
                                <div class="advantages-img-wrapper">
                                    <picture>
                                        <source srcset="../img/index/body/mobile/icon-gift.png" alt="" class="advantages-img advantages-img-mobile" width="32px" height="38px" media="(max-width: 767px)">
                                        <source srcset="../img/index/body/tablet/icon-gift.png" alt="" class="advantages-img advantages-img-tablet" width="64px" height="75px" media="(max-width: 1160px)">
                                        <source srcset="../img/index/body/desktop/icon-gift.png" alt="" class="advantages-img" width="64px " height="76px">
                                        <img srcset="../img/index/body/desktop/icon-gift.png" alt="" class="advantages-img" width="64px " height="76px">
                                    </picture>
                                </div>
                                <p class="real-city-advantages-title advantages-title">СУВЕНИРЫ</p>
                            </div>
                            <p class="real-city-advantages-text advantages-text">Не только китайского, но и местного производства!</p>
                        </li>
                        <!-- </div> -->
                    </ul>
                </div>
                <div class="diablo-bridge ">
                    <picture>
                        <source srcset="../img/index/body/mobile/photo-bridge.jpg" alt="" class="diablo-bridge-img diablo-bridge-img-mobile" width="320px" height="260px" media="(max-width: 767px)">
                        <source srcset="../img/index/body/tablet/photo-bridge.jpg" alt="" class="diablo-bridge-img diablo-bridge-img-tablet" width="512px" height="256px" media="(max-width: 1160px)">
                        <source srcset="../img/index/body/desktop/photo-bridge.jpg" alt="" class="diablo-bridge-img" width="800px" height="256px">
                        <img srcset="../img/index/body/desktop/photo-bridge.jpg" alt="" class="diablo-bridge-img" width="800px" height="256px">
                    </picture>
                    <div class="diablo-bridge-text">
                        <p class="diablo-bridge-title">ТАМ ЕСТЬ Мост дьявола</p>
                        <p class="diablo-bridge-desc">— №2 —</p>
                        <p class="diablo-bridge-desc">Да, по нему можно пройти! Если вы осмелитесь конечно</p>
                    </div>
                </div>
                <div class="advantages advantages-second">
                    <ul class="diablo-bridge-advantages-items advantages-items">
                        <li class="diablo-bridge-advantages-item advantages-item">
                            <p class="diablo-bridge-advantages-title advantages-title">НЕБОЛЬШАЯ ПЛОЩАДЬ</p>
                            <p class="diablo-bridge-advantages-numb advantages-numbering">— №3 —</p>
                            <p class="diablo-bridge-advantages-text advantages-text">ВСЕ интерсные места находятся очень близко</p>
                        </li>
                        <li class="diablo-bridge-advantages-item advantages-item">
                            <p class="diablo-bridge-advantages-title advantages-title">КРАСИВАЯ ДОРОГА</p>
                            <p class="diablo-bridge-advantages-numb advantages-numbering">— №4 —</p>
                            <p class="diablo-bridge-advantages-text advantages-text">ЕХАТЬ В СЕДОНУ ИЗ ЛАС-ВЕГАСА совсем НЕ СКУЧНО!</p>
                        </li>
                        <li class="diablo-bridge-advantages-item advantages-item">
                            <p class="diablo-bridge-advantages-title advantages-title">МАЛО ТУРИСТОВ</p>
                            <p class="diablo-bridge-advantages-numb advantages-numbering">— №5 —</p>
                            <p class="diablo-bridge-advantages-text advantages-text">Большинство едет в гранд каньон и толпится там</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="search-block">
                <p class="search-title">Заинтересовались?</p>
                <p class="search-text">Укажите предполагаемые даты поездки, и мы покажем вам лучшие предложения гостиниц в седоне</p>
                <button class="search-btn">Найти гостиницу</button>
                <div class="search-popup">
                    <div class="arrival-date">
                        <label for="arrival-input" class="popup-label">Дата заезда:</label>
                        <input type="text" id="arrival-input" name="arrival-date" placeholder="24 Апреля 2017" class="popup-input popup-input-date">
                        <button type="button" class="popup-date-input">
                            <svg viewBox="0 0 24 24">
                                <path d="M7,12H9V14H7V12M21,6V20A2,2 0 0,1 19,22H5C3.89,22 3,21.1 3,20V6A2,2 0 0,1 5,4H6V2H8V4H16V2H18V4H19A2,2 0 0,1 21,6M5,8H19V6H5V8M19,20V10H5V20H19M15,14V12H17V14H15M11,14V12H13V14H11M7,16H9V18H7V16M15,18V16H17V18H15M11,18V16H13V18H11Z"/>
                            </svg>
                        </button>
                    </div>
                    <div class="departure-date">
                        <label for="departure-input" class="popup-label">Дата Выезда:</label>
                        <input type="text" id="departure-input" name="departure-date" placeholder="4 июля 2017" class="popup-input popup-input-date">
                        <button type="button " class="popup-date-input">
                            <svg viewBox="0 0 24 24">
                                <path d="M7,12H9V14H7V12M21,6V20A2,2 0 0,1 19,22H5C3.89,22 3,21.1 3,20V6A2,2 0 0,1 5,4H6V2H8V4H16V2H18V4H19A2,2 0 0,1 21,6M5,8H19V6H5V8M19,20V10H5V20H19M15,14V12H17V14H15M11,14V12H13V14H11M7,16H9V18H7V16M15,18V16H17V18H15M11,18V16H13V18H11Z"/>
                            </svg>
                        </button>
                    </div>
                    <div class="amount-people">
                        <div class="amount-people-wrapper">
                            <label for="adult" class="amount-people-label popup-label">Взрослые:</label>
                            <button type="button" class="amount-people-button input-button-minus" id="amount-adult-minus"></button>
                            <input type="text" min="1" max="10" name="adult" value="2" id="adult" class="popup-input popup-input-num">
                            <button type="button" class="amount-people-button input-button-plus" id="amount-adult-plus"></button>
                        </div>
                        <div class="amount-people-wrapper ">
                            <label for="children" class="amount-people-label popup-label">Дети:</label>
                            <button type="button" class="amount-people-button input-button-minus" id="amount=children-minus"></button>
                            <input type="text" min="0" max="10" name="children" value="0" id="children" class="popup-input popup-input-num">
                            <button type="button" class="amount-people-button input-button-plus" id="amount-children-plus"></button>
                        </div>
                    </div>
                    <div class="submit-btb">
                        <button type="submit" class="submit-popup-button">Найти</button>
                    </div>
                </div>
            </div>
            <div id="Map" style="height:350px"></div>
        </main>
        <footer class="footer">
            <div class="footer-visit">
                <a href="#" class="footer-visit-link">#visitSEDONA</a>
            </div>
            <div class="footer-social">
                <a class="social-btn social-btn-tw" href="#"></a>
                <a class="social-btn social-btn-fb" href="#"></a>
                <a class="social-btn social-btn-yt" href="#"></a>
            </div>
            <div class="htmlacademy-logo">
                <span>Разработано</span>
                <a href="" class="htmlacademy-link">
                    <picture>
                        <source srcset="../img/form/foot/mobile/logo_name.png" alt="" class="header-logo header-logo-mobile" width="27px" height="34px" media="(max-width: 767px)">
                        <source srcset="../img/form/foot/tablet/logo_name.png" alt="" class="header-logo header-logo-tablet" width="27px" height="34px" media="(max-width: 1160px)">
                        <source srcset="../img/form/foot/desktop/logo_name.png" alt="" class="header-logo" width="27px" height="34px">
                        <img srcset="../img/form/foot/desktop/logo_name.png" alt="" class="header-logo" width="27px" height="34px">
                    </picture>
                </a>
            </div>
        </footer>
    </div>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/script.js"></script>
    <script src="../js/OpenLayers.js"></script>
    <script>
        var lat = 53.182652862149624;
        var lon = 45.00119827735513;
        var zoom = 18;

        var fromProjection = new OpenLayers.Projection("EPSG:4326"); // Transform from WGS 1984
        var toProjection = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
        var position = new OpenLayers.LonLat(lon, lat).transform(fromProjection, toProjection);

        map = new OpenLayers.Map("Map");
        var mapnik = new OpenLayers.Layer.OSM();
        map.addLayer(mapnik);

        var markers = new OpenLayers.Layer.Markers("Markers");
        map.addLayer(markers);
        markers.addMarker(new OpenLayers.Marker(position));

        map.setCenter(position, zoom);
    </script>
</body>

</html>