<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="container">
        <header>
            <div class="user-nav-wrapper">
                <a href="#" class="header-logo-link header-logo-link-form">
                    <picture>
                        <source srcset="../img/photo/head/mobile/logotype-desktop.png" alt="" class="header-logo header-logo-mobile" width="102px" height="83px" media="(max-width: 767px)">
                        <source srcset="../img/photo/head/tablet/logotype-desktop.png" alt="" class="header-logo header-logo-tablet" width="102px" height="83px" media="(max-width: 1160px)">
                        <source srcset="../img/photo/head/desktop/logotype-desktop.png" alt="" class="header-logo" width="138px" height="70px">
                        <img srcset="../img/photo/head/desktop/logotype-desktop.png" width="102px" height="83px" alt="My default image">
                    </picture>
                </a>
                <div class="burger-icon">
                    <svg viewBox="0 0 24 24">
                        <path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
                    </svg>
                </div>
                <nav class="main-nav">
                    <div class="nav-container">
                        <ul class="nav-items">
                            <div class="close-icon">
                                <svg viewBox="0 0 24 24">
                                    <path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
                                </svg>
                            </div>
                            <a href="actives.html" class="nav-item-link">
                                <li class="nav-item"> Главная</li>
                            </a>
                            <a href="study.html" class="nav-item-link">
                                <li class="nav-item"> ФОТО И ВИДЕО</li>
                            </a>
                        </ul>
                        <ul class="nav-items">
                            <a href="partners.html" class="nav-item-link">
                                <li class="nav-item"> Форма отзыва</li>
                            </a>
                            </a>
                            <a href="achievements.html" class="nav-item-link">
                                <li class="nav-item"> HTML academy </li>
                            </a>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <main>
            <div class="welcome-block">
                <picture class="welcome-image">
                    <source srcset="../img/photo/head/mobile/intro-triangle.jpg" alt=" " class="main-welcome-image" width="320px" height="158px" media="(max-width: 767px)">
                    <source srcset="../img/photo/head/tablet/intro-triangle.jpg" alt=" " class="main-welcome-image" width="768px" height="290px" media="(max-width: 1160px)">
                    <source srcset="../img/photo/head/desktop/intro-triangle.jpg" alt=" " class="main-welcome-image" width="1200px" height="301px">
                    <img srcset="../img/photo/head/desktop/intro-triangle.jpg" alt=" " class="main-welcome-image" width="1200px" height="301px">
                </picture>
                <h4 class="photo-main-title">Фото и видео</h4>
                <p class="photo-main-desc">Не можете решиться на путешествие из-за курса? Фотографии помогут вам забыть о политике и экономике.</p>
            </div>
            <div class="photo-img-wrapper">
                <div class="photo-img-block">
                    <picture class="">
                        <source srcset="../img/photo/body/mobile/photo-1.jpg" alt=" " class="photo-img photo-img-first" width="280px" height="280px" media="(max-width: 767px)">
                        <source srcset="../img/photo/body/tablet/photo-1.jpg" alt=" " class="photo-img photo-img-first" width="648px" height="400px" media="(max-width: 1160px)">
                        <source srcset="../img/photo/body/desktop/photo-1.jpg" alt=" " class="photo-img photo-img-first" width="1200px" height="400px">
                        <img srcset="../img/photo/body/desktop/photo-1.jpg" alt=" " class="photo-img photo-img-first" width="1200px" height="400px">
                    </picture>
                    <div class="photo-img-second-block">
                        <div class="photo-img-second-block-container">
                            <p class="photo-img-tytle">Неродные просторы</p>
                            <p class="photo-img-autor">Автор фото: Борис</p>
                        </div>
                        <div class="photo-img-likes-container">
                            <picture class="">
                                <source srcset="../img/photo/body/mobile/like-icon.png" alt=" " class="photo-img-likes" width="23px" height="21px" media="(max-width: 767px)">
                                <source srcset="../img/photo/body/tablet/like-icon.png" alt=" " class="photo-img-likes" width="23px" height="21px" media="(max-width: 1160px)">
                                <source srcset="../img/photo/body/desktop/like-icon.png" alt=" " class="photo-img-likes" width="23px" height="21px">
                                <img srcset="../img/photo/body/desktop/like-icon.png" alt=" " class="photo-img-likes" width="23px" height="21px">
                            </picture>
                            <!-- <img src="../img/photo/body/desktop/like-icon.png" alt="" class="photo-img-likes" width="" height=""> -->
                            <span class="photo-img-likes-number">1350</span>
                        </div>
                    </div>
                </div>
                <div class="photo-img-block">
                    <picture class="">
                        <source srcset="../img/photo/body/mobile/photo-2.jpg" alt=" " class="photo-img" width="280px" height="280px" media="(max-width: 767px)">
                        <source srcset="../img/photo/body/tablet/photo-2.jpg" alt=" " class="photo-img" width="324px" height="267px" media="(max-width: 1160px)">
                        <source srcset="../img/photo/body/desktop/photo-2.jpg" alt=" " class="photo-img" width="400px" height="267px">
                        <img srcset="../img/photo/body/desktop/photo-2.jpg" alt=" " class="photo-img" width="400px" height="267px">
                    </picture>
                    <div class="photo-img-second-block">
                        <div class="photo-img-second-block-container">
                            <p class="photo-img-tytle">Местная растительность</p>
                            <p class="photo-img-autor">Автор фото: Сергей</p>
                        </div>
                        <div class="photo-img-likes-container">
                            <picture class="">
                                <source srcset="../img/photo/body/mobile/like-icon.png" alt=" " class="photo-img-likes" width="23px" height="21px" media="(max-width: 767px)">
                                <source srcset="../img/photo/body/tablet/like-icon.png" alt=" " class="photo-img-likes" width="23px" height="21px" media="(max-width: 1160px)">
                                <source srcset="../img/photo/body/desktop/like-icon.png" alt=" " class="photo-img-likes" width="23px" height="21px">
                                <img srcset="../img/photo/body/desktop/like-icon.png" alt=" " class="photo-img-likes" width="23px" height="21px">
                            </picture>
                            <span class="photo-img-likes-number">143</span>
                        </div>
                    </div>
                </div>
                <div class="photo-img-block">
                    <picture class="">
                        <source srcset="../img/photo/body/mobile/photo-3.jpg" alt=" " class="photo-img" width="280px" height="280px" media="(max-width: 767px)">
                        <source srcset="../img/photo/body/tablet/photo-3.jpg" alt=" " class="photo-img" width="324px" height="267px" media="(max-width: 1160px)">
                        <source srcset="../img/photo/body/desktop/photo-3.jpg" alt=" " class="photo-img" width="400px" height="267px">
                        <img srcset="../img/photo/body/desktop/photo-3.jpg" alt=" " class="photo-img" width="400px" height="267px">
                    </picture>
                    <div class="photo-img-second-block">
                        <div class="photo-img-second-block-container">
                            <p class="photo-img-tytle">Дорога на север</p>
                            <p class="photo-img-autor">Автор фото: Петр</p>
                        </div>
                        <div class="photo-img-likes-container">
                            <picture class="">
                                <source srcset="../img/photo/body/mobile/like-icon.png" alt=" " class="photo-img-likes" width="23px" height="21px" media="(max-width: 767px)">
                                <source srcset="../img/photo/body/tablet/like-icon.png" alt=" " class="photo-img-likes" width="23px" height="21px" media="(max-width: 1160px)">
                                <source srcset="../img/photo/body/desktop/like-icon.png" alt=" " class="photo-img-likes" width="23px" height="21px">
                                <img srcset="../img/photo/body/desktop/like-icon.png" alt=" " class="photo-img-likes" width="23px" height="21px">
                            </picture>
                            <span class="photo-img-likes-number">96</span>
                        </div>
                    </div>
                </div>
                <div class="photo-img-block">
                    <picture class="">
                        <source srcset="../img/photo/body/mobile/photo-4.jpg" alt=" " class="photo-img" width="280px" height="280px" media="(max-width: 767px)">
                        <source srcset="../img/photo/body/tablet/photo-4.jpg" alt=" " class="photo-img" width="324px" height="267px" media="(max-width: 1160px)">
                        <source srcset="../img/photo/body/desktop/photo-4.jpg" alt=" " class="photo-img" width="400px" height="267px">
                        <img srcset="../img/photo/body/desktop/photo-4.jpg" alt=" " class="photo-img" width="400px" height="267px">
                    </picture>
                    <div class="photo-img-second-block">
                        <div class="photo-img-second-block-container">
                            <p class="photo-img-tytle">Мост дьявола</p>
                            <p class="photo-img-autor">Автор фото: Антон</p>
                        </div>
                        <div class="photo-img-likes-container">
                            <picture class="">
                                <source srcset="../img/photo/body/mobile/like-icon.png" alt=" " class="photo-img-likes" width="23px" height="21px" media="(max-width: 767px)">
                                <source srcset="../img/photo/body/tablet/like-icon.png" alt=" " class="photo-img-likes" width="23px" height="21px" media="(max-width: 1160px)">
                                <source srcset="../img/photo/body/desktop/like-icon.png" alt=" " class="photo-img-likes" width="23px" height="21px">
                                <img srcset="../img/photo/body/desktop/like-icon.png" alt=" " class="photo-img-likes" width="23px" height="21px">
                            </picture>
                            <span class="photo-img-likes-number">254</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="video-wrapper">
                <h4 class="video-title">Все еще сомневаетесь?</h4>
                <p class="video-desc">Смотрите видеопрезентацию и скорее за билетами, пока они не подорожали в очередной раз!</p>
                <picture class="">
                    <source srcset="../img/photo/body/mobile/subtitles.jpg" alt=" " class="video-img" width="280px" height="267px" media="(max-width: 767px)">
                    <source srcset="../img/photo/body/tablet/subtitles.jpg" alt=" " class="video-img" width="648px" height="500px" media="(max-width: 1160px)">
                    <source srcset="../img/photo/body/desktop/subtitles.jpg" alt=" " class="video-img" width="800px" height="500px">
                    <img srcset="../img/photo/body/desktop/subtitles.jpg" alt=" " class="video-img" width="800px" height="500px">
                </picture>

            </div>
            <div id="player"></div>
        </main>
        <footer class="footer">
            <div class="footer-visit">
                <a href="#" class="footer-visit-link">#visitSEDONA</a>
            </div>
            <div class="footer-social">
                <a class="social-btn social-btn-tw" href="#"></a>
                <a class="social-btn social-btn-fb" href="#"></a>
                <a class="social-btn social-btn-yt" href="#"></a>
            </div>
            <div class="htmlacademy-logo">
                <span>Разработано</span>
                <a href="" class="htmlacademy-link">
                    <picture>
                        <source srcset="../img/form/foot/mobile/logo_name.png" alt="" class="header-logo header-logo-mobile" width="27px" height="34px" media="(max-width: 767px)">
                        <source srcset="../img/form/foot/tablet/logo_name.png" alt="" class="header-logo header-logo-tablet" width="27px" height="34px" media="(max-width: 1160px)">
                        <source srcset="../img/form/foot/desktop/logo_name.png" alt="" class="header-logo" width="27px" height="34px">
                        <img srcset="../img/form/foot/desktop/logo_name.png" alt="" class="header-logo" width="27px" height="34px">
                    </picture>
                </a>
            </div>
        </footer>
    </div>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/script.js"></script>
</body>

</html>